anyio

argon2-cffi

argon2-cffi-bindings

asgiref==3.8.1

asttokens  

async-lru

attrs 

Babel 

backcall

backports.zoneinfo==0.2.1

beautifulsoup4

bleach

Bottleneck 

Brotli 

certifi 

cffi 

charset-normalizer 

colorama

comm 

debugpy 

decorator

defusedxml

dill==0.3.8

Django==4.2.13

exceptiongroup 

executing 

fastjsonschema 

idna 

importlib-metadata

importlib-resources

ipykernel 

ipython

jedi 

Jinja2 

joblib 

json5 

jsonschema 

jsonschema-specifications 

jupyter-events 

jupyter-lsp 

jupyter_client 

jupyter_core 

jupyter_server 

jupyter_server_terminals

jupyterlab 

jupyterlab-pygments 

jupyterlab_server 

MarkupSafe 

matplotlib-inline
mistune


mkl-service==2.4.0

nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numexpr
numpy
overrides
packaging
pandas
pandocfilters
parso
pickle-mixin==1.0.2

pickleshare
pkgutil_resolve_name
platformdirs
pooch
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
PySocks
python-dateutil
python-json-logger
pytz
pywin32==305.1

pywinpty
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
scikit-learn
scipy==1.10.1

Send2Trash
six
sniffio
soupsieve
sqlparse==0.5.0

stack-data
terminado
threadpoolctl
tinycss2
tomli
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
webencodings==0.5.1

websocket-client
win-inet-pton
zipp
